.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.register__logo {
  object-fit: contain;
}
.register__form {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 10vh;
  background-color: white;
}

.register__inputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  align-items: center;
}

.register__formInput {
  padding: 5px;
  margin: 5px;
  width: 100%;
  height: 20px;
  border: 1px solid lightgrey;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
.register__formInput:focus {
  border: 2px solid lightgrey;
  outline: lightgrey;
}

.register__login {
  padding: 5px;
  margin: 20px;
  background-color: #0095f6;
  border: 1px solid #0095f6;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  width: 100%;
}

.register__login:focus {
  outline: none;
}

.register_loginLink {
  margin: 10px;
  border: 1px solid lightgrey;
  background-color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.register__link {
  text-decoration: none;
  color: #0095f6;
  margin-left: 5px;

}
